<ion-header>
  <ion-toolbar>
    <ion-title horizontal="center">Kalender</ion-title>
    <!-- PopOver Button -->
    <ion-buttons slot="end">
      <ion-button (click)="viewPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- PopOver Button End -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-calendar id="calendar__edit"
       [(ngModel)]="dateMulti"
       [options]="options"
       [type]="type"
       [format]="'YYYY-MM-DD'">
  </ion-calendar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
