<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zyklus
    </ion-title>
    <!--Popover menu -->

    <ion-buttons slot="end">
      <ion-button (click)="viewPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--Popover menu end-->
  </ion-toolbar>
</ion-header>

<ion-item lines="none">
  <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="16"
    [showInnerStroke]="false"
    [outerStrokeColor]="'#ad00c0'"
    [animation]="true"
    [showTitle]="false"
    [showSubtitle]="false"
    [imageSrc]="'../assets/icon/zyklus.png'"
    [imageHeight]="50"
    [imageWidth]="50"
    [showImage]="true"
  ></circle-progress>
</ion-item>

<ion-item lines="none">
  <ion-text>
    Nächste Menstruation in X Tagen
  </ion-text>
</ion-item>
Ω
