<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zyklus
    </ion-title>
    <!--Popover menu -->

    <ion-buttons slot="end">
      <ion-button (click)="viewPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--Popover menu end-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box">
    <div class="percent">
      <svg>
        <circle cx="70" cy="70" r="70"></circle>
        <circle cx="70" cy="70" r="70" style="stroke-dashoffset:{{cycleProgressCss}}"></circle>
      </svg>
      <div class="number">
        <h2>{{cycleProgress}}<span>%</span></h2>
      </div>
    </div>
    <h3 class="text"> Nächste Menstruation: {{nextMenstruation}}</h3>
    <h3 class="text"> Fruchtbarkeit: {{riskOfPregnancy}}</h3>
  </div>
</ion-content>


