<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/tabs">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-icon class = "attention__icon" name="alert-circle-outline" color="danger"></ion-icon>
      <p>Achtung, diese Software existiert, um den Menstruationszyklus zu kontrollieren. Bei Unstimmigkeiten oder Verschlechterung des Gesundheitszustandes sollten Sie einen Arzt aufsuchen.</p>
    </ion-slide>

    <ion-slide>
      <ion-icon class = "add__button-icon" name="add-circle-outline" color="primary" ></ion-icon>
      <h2>Neuer Zyklus anfangen</h2>
      <p>Zu Beginn der Arbeit mit der Anwendung müssen Sie Ihren Zyklus und seine Eigenschaften angeben. Dies kann durch Klicken auf eine beliebige "Plus"-Schaltfläche erfolgen, die in jedem Abschnitt vorhanden ist.</p>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 242 242" height="242" width="242" class=""><defs><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></defs><circle cx="121" cy="121" r="113" fill="transparent" fill-opacity="1" stroke="transparent" stroke-width="0"></circle><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--ng-container--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><path d="M 121 21
        A 100 100 0 0 1 208.63066800438637 169.1753674101715" stroke="#ad00c0" stroke-width="16" stroke-linecap="round" fill="none"></path><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--ng-container--><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><image preserveAspectRatio="none" height="50" width="50" xlink:href="../assets/icon/zyklus.png" x="96" y="96"></image><!--bindings={
  "ng-reflect-ng-if": "true"
}--></svg>
        <h2>Zyklus</h2>
        <p>Gibt Ihnen die Möglichkeit  <b>Menstruation Periode</b> grafisch anschauen, und damit
          hilft Ihnen, Ihre Zeit besser zu verwalten und gleichzeitig ein erfülltes Leben zu führen, auch zusätzliche Felder warnen Sie vor dem nächsten Zyklus und vor möglichen Risiken. </p>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-icon class = "slidericon" name="happy" ></ion-icon>
      <h2>Happy or Not?</h2>
      <p><b>Stimmungsanalyse</b> hilft zu verstehen, ob Sie während des Zyklus depressiv sind oder alles gut läuft, denn unserer Meinung nach ist es besser, Depressionen vorzubeugen, als mit ihren Folgen umzugehena type specimen book. It has survived not only five centuries</p>
    </ion-slide>

    <ion-slide>
      <ion-icon class = "slidericon__calendar" name="calendar" color="danger"></ion-icon>
      <h2>Zyklusdetails mit dem Kalender</h2>
      <p><b>Kalender</b> zeigt Ihnen weiter mögliche Zyklen, und hilft mit langfristiger Planung.</p>
    </ion-slide>



  </ion-slides>
</ion-content>

