<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Track deinen Zyklus
    </ion-title>
    <!--Popover menu -->
    <ion-buttons slot="end">
      <ion-button (click)="viewPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--Popover menu end-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button color="warning" (click)="logCurrentCycle()">Log current Cycle</ion-button>
  <ion-button color="warning" (click)="logAllCycles()">Log all Cycles</ion-button>
  <ion-button color="warning" (click)="updateStorage()">Update storage</ion-button>
</ion-content>
