.ion-content-contakt {
  width: 100%;
  text-align: center;
}
.contact-data {
  margin-top: 50px;
}

.contact-data-item {

  margin-bottom: 30px;
  font-size: 25px;
  color:#333333;
}

.contact__mail {
  text-decoration: none;
  color:#333333;
}
.upper-icon {
  font-size: 80px;
}
.icon-contact {
  margin-top: 40px;
}
