<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Analyse Bereich
    </ion-title>
    <!--Popover menu -->
    <ion-buttons slot="end">
      <ion-button (click)="viewPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--Popover menu end-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>
        {{title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content id="ion-card">
      <ion-grid>
        <ion-row>
            <ion-card-subtitle class="ion-align-items-center">{{subtitle}}</ion-card-subtitle>
        </ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label>Filterung nach Monat:</ion-label>
            <ion-select okText="Okay" cancelText="Cancel" (ionChange)="initializeFilter()"
                        [(ngModel)]="selectedMonth">
              <ion-select-option value="0">Alle</ion-select-option>
              <ion-select-option value="1">Januar</ion-select-option>
              <ion-select-option value="2">Februar</ion-select-option>
              <ion-select-option value="3">März</ion-select-option>
              <ion-select-option value="4">April</ion-select-option>
              <ion-select-option value="5">Mai</ion-select-option>
              <ion-select-option value="6">Juni</ion-select-option>
              <ion-select-option value="7">Juli</ion-select-option>
              <ion-select-option value="8">August</ion-select-option>
              <ion-select-option value="9">September</ion-select-option>
              <ion-select-option value="10">Oktober</ion-select-option>
              <ion-select-option value="11">November</ion-select-option>
              <ion-select-option value="12">Dezember</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-row>
          <ion-col size="3">
            <ion-button size= "small" color="success" id="good" (click)="feelGood()">
              <ion-icon name="happy-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button size= "small" color="warning" id="ok" (click)="feelOkay()">
              <ion-icon name="sad-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button size= "small" color="danger" id="bad" (click)="feelSad()">
              <ion-icon name="skull-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-item>
              <ion-toggle disabled="{{disablePin}}" (ionChange)="createTestData()" checked="{{checked}}"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div id="lineChart"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
