ion-toggle {
  --background: white;
  --background-checked: white;

  --handle-background: grey;
  --handle-background-checked: grey;

  width: 50px;
  height: 15px;
  --handle-width: 20px;
  --handle-height: 20px;
}

.axis--y.tick line{
  visibility:hidden;
}

.axis--y path {
  stroke: none;
  opacity: 0;
}
