<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Analyse Bereich
    </ion-title>
    <!--Popover menu -->
    <ion-buttons slot="end">
      <ion-button (click)="viewPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--Popover menu end-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>
        {{title}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content id="ion-card">
      <ion-grid>
        <ion-row>
            <ion-card-subtitle class="ion-align-items-center">{{subtitle}}</ion-card-subtitle>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-button size= "small" color="success" id="good" (click)="feelGood()">
              <ion-icon name="happy-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button size= "small" color="warning" id="ok">
              <ion-icon name="sad-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button size= "small" color="danger" id="bad">
              <ion-icon name="skull-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-item>
              <ion-toggle disabled="{{disablePin}}" (ionChange)="createTestData()" checked="{{checked}}"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div id="lineChart"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
