<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Analyse Bereich
    </ion-title>
    <!--Popover menu -->
    <ion-buttons slot="end">
      <ion-button (click)="viewPopover()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--Popover menu end-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
  <ion-card>
    <ion-card-header>
      Line Chart
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-text>Test</ion-text>
        <canvas #lineCanvas></canvas>
      </ion-item>
    </ion-card-content>
  </ion-card>
  </div>

</ion-content>
